html, body
{
    background-color: rgb(29, 29, 29);
    height: 100%;
}
.tags
{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    color: #5e5e5e;
}
/*<----Navigation---->*/
.navbar
{   
    background-color: #181818;
    flex-flow: wrap;
    margin-bottom: 0;
    padding: 0;
}
.navbar-nav
{
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: auto;
}
.navbar-brand
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color:  rgb(0, 0, 0);
    color:#fff;
    font-size: 2rem;
    margin-left: 30px;
    margin-right: 0;
    padding: 10px;

}
.navbar-brand:hover
{
    color: rgb(51, 255, 169);
    transition: .5s;
}
.nav-link:hover
{
    color:rgb(51, 255, 169);
    transition: .5s;
}
.nav-item
{
    padding: 0 10px;
}
.nav-link
{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0;

}
.nav-spacer
{
    border-right: solid 1px rgb(51, 255, 169);
}
#content
{
    flex: 1 0 auto;
}
.transition-fade
{
    opacity: 1;
    transition: 500ms;
}
html.is-animating .transition-fade
{
    opacity: 0;
}
/*<----All Cards--->*/
section
{
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 80px;
}
.card
{
    margin: 0px auto 0px 30px;
    width: 700px;
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius: 0%;
    border-left: solid 2px gray;
    color: white;
}
.card-title
{
    display: inline-block;
    margin-bottom: 10px;
    color: rgb(51, 255, 169);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: .5s;
}
.card-title:hover
{
    transform: translateY(-15px);
}
.card-body
{
    border-left: solid 2px gray;
    margin-left: 30px;
    padding: 10px 10px 10px 30px;
}

/*<----About Card--->*/
.about-img
{
    float: left;   
    height: 300px;
    width: 200px;
}
.about-text
{   
    font-family: 'Merriweather', serif;
    line-height: 2rem;
    margin-bottom: 16px;
}
.about-card
{
    text-align: center;
}
.bracket
{
    color: rgb(29, 29, 29);
}
.about-link
{
    color: rgb(51, 255, 169);
    font-size: 1.5rem;
    margin-right: 10px;
}
.about-link:hover .bracket
{
    color: white;
    text-decoration: none;
    transition: .5s;
}
.about-link:hover
{
    color: white;
    text-decoration: none;
    border-bottom: white 2px solid;
    transition: .5s;
}
.about-links-sm
{
        display: none;
}
@media(max-width:768px)
{
    .about-links-sm
    {
        display: initial;
    }
    .about-links-lg
    {
       display: none;
    }
    .about-img
    {
        margin-right: 15px;
    }
    .about-text
    {   
        margin-block-start: 1rem;
    }
}
@media(max-width:639px)
{
    .about-links-sm
    {
        display: initial;
    }
    .about-links-lg
    {
       display: none;
    }
    .about-text
    {   
        margin-block-start: 1rem;
    }
}
@media(max-width: 540px)
{
    .about-img
    {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
/*<----Portfolio Card--->*/
.portfolio-img
{
    height: auto;
    width: 100%;
    border: solid 2px rgb(51, 255, 169) !important;
}
.project-title
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(rgba(43, 43, 43, 0.8),rgb(24, 24, 24, 0.8));
    bottom: 75px;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}
.port-item:hover 
{
   transform: scale(1.02);
   transition: .2s;
}
.port-item:hover .project-title
{
    color: rgb(51, 255, 169);
   transition: .2s;
}
.portfolio-link:hover
{
    text-decoration: none;
}
/*<----Contact Card--->*/
.contact-label, .contact-button
{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
#message, #usr, #email
{
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
.contact-label
{
    color: rgb(51, 255, 169);
}
.contact-button
{
    background-color: rgb(29, 29, 29);
    border: solid 2px rgb(51, 255, 169);
    border-radius: 0;
    color: rgb(51, 255, 169);
    padding: 5px 25px;
    transition: .5s;
}
.contact-button .tags
{
    color: rgb(51, 255, 169);
    transition: .5s;
}
.contact-button:hover .tags
{
    color: #fff;
}
.contact-button:hover 
{
    background-color: rgb(51, 255, 169);
    color: white;
}
/*<----Footer---->*/
#footer
{
    background-color:rgb(58, 58, 58);
    flex-shrink: none;
    text-align: center;
    width: 100%;
    box-shadow: inset 0 5px 5px #000;
}
.footer-text
{
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    display: inline-block;
}
/*<----Media Queries---->*/
@media(max-width:823px)
{
    .navbar-brand
    {
        margin-left: 0px;
    }
    .navbar-nav
    {
        flex-direction: row;
        margin: auto;
        padding-bottom: 12px;
        padding-right: 0px;
        padding-top: 12px;
    }
    .nav-link
    {
        font-size: 1rem;
    }
    /*<----All Cards--->*/
       section
    {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
} 
@media(max-width:669px)
{
    /*<----Navigation---->*/
    .navbar-brand
    {
        margin-left: 0;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
    }
    .navbar-nav
    {
        flex-direction: row;
        margin: auto;
        padding-bottom: 12px;
        padding-right: 0px;
        padding-top: 12px;
    }
    .nav-link
    {
        font-size: 1rem;
    }
    /*<----All Cards--->*/
    section
    {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .card
    {
        margin: 0px auto 0px auto;
        width: 90%;
    }
}
